@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --nav-width: 100%;
  --handle-size: 2rem;
  --movie-slider-padding: 2.5rem;
  --img-gap: 0.25rem;
  --secondary-black: #0b0b0c;
  --primary-grey: #696969;
  --brown: #4a3c32;
  --blueish-grey: #757c8a;
  --chocolate: #9f5f3c;
  --tertiary-orange: #e68a1b;
  --pinkish: #ceafae;
  --white: #f7f8ff;
  --gray: #c1c0c4;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1400px;
  height: 100%;
  margin: auto;
  font-family: "Poppins", sans-serif;
  color: var(--white);
  background-color: var(--secondary-black);
}

/* Styling the Navbar */
nav {
  width: var(--nav-width);
  padding: 0.5rem;
}

nav img {
  width: 100%;
  height: auto;
}

nav .resp-nav-header {
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

nav .resp-nav-header img {
  width: 5rem;
}

nav .resp-nav-header .close-menu {
  display: none;
  font-size: 1.2rem;
}

nav .resp-nav-header .open-menu {
  font-size: 1.2rem;
}

/* navbar with items */
.nav-items-container {
  display: none;
}

.active-nav-items {
  display: block;
}

.nav-items-container {
  top: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: var(--primary-grey);
  margin-left: -0.5rem;
  padding: 1rem 1rem;
}

.nav-items-container .nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.nav-items-container .nav-header .close-menu {
  font-size: 1.5rem;
}

.nav-items-container .nav-header img {
  width: 5rem;
  height: auto;
}

.nav-items-container .nav-items {
  display: grid;
  gap: 1.5rem;
}

.nav-items-container .nav-items .nav-element h2 {
  font-size: 1.5rem;
  color: var(--gray);
}

.nav-items-container .nav-items .nav-element > div {
  font-size: 1.2rem;
  display: grid;
  gap: 0.3rem;
  margin-left: 0.5rem;
}

/* Hide Searchbar Section on mobile devices */
nav .nav-search {
  display: none;
}

/* Main section */
main {
  padding: 0.5rem;
}
main .empty-boiler-plate {
  display: none;
}

/* Featured Movies section */
.featured-movies {
  color: white;
  background: linear-gradient(
      0deg,
      rgba(11, 11, 12, 0.7),
      rgba(105, 105, 105, 0.3)
    ),
    url(./assets/img/antMan.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  margin-bottom: 2rem;
}

.featured-movies .featured-description {
  width: 100%;
  display: grid;
  gap: 1rem;
}

.featured-description > div:first-of-type {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.featured-description > div:first-of-type > .rank {
  font-weight: bold;
  background-color: var(--tertiary-orange);
  color: var(--secondary-black);
  padding: 0.35rem;
  border-radius: 0.5rem;
}

.featured-description > div:first-of-type > p:nth-of-type(2) {
  width: 1.5rem;
  height: 1.5rem;
  display: grid;
  place-items: center;
  background-color: var(--blueish-grey);
  border-radius: 0.25rem;
  padding: 0.25rem;
}

.featured-description > div:first-of-type > p:nth-of-type(2) > i {
  font-size: 1rem;
}

.featured-description .description {
  margin-top: 0.5rem;
}

.featured-description .description h3 {
  font-size: 1.3rem;
  font-weight: bolder;
  color: var(--white);
}

.featured-description .description h3 + p {
  color: var(--gray);
  margin-bottom: 0.65rem;
}

.featured-description .description h3 + p + p {
  font-size: 0.75rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.featured-description .description .likes {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.featured-description .description .likes > p {
  padding: 0.2rem;
  display: grid;
  place-items: center;
  border: 1px solid var(--white);
  border-radius: 50%;
}

/* Styling the movie slider / caroussel section */
.movie-caroussel {
  width: 100%;
  color: var(--white);
  margin-bottom: 1.5rem;
}

/* Caroussel header + Progress bar */
.caroussel-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .caroussel-header {
    width: 100%;
    /* background-color: red; */
    flex-direction: column;
    gap: 0.5rem;
  }

  .caroussel-header > div:first-of-type {
    align-self: flex-start;
    margin-bottom: 0.5rem;
  }

  .caroussel-header .slider-progress-bar {
    justify-self: center;
  }
}

.caroussel-header .title {
  font-size: 1.2rem;
  color: var(--white);
  margin: 0;
}

.caroussel-header .title + p {
  color: var(--blueish-grey);
  font-size: 0.85rem;
}

.caroussel-header .slider-progress-bar {
  display: flex;
  gap: 0.25rem;
}

.slider-progress-bar .progress-item {
  flex: 0 0 1rem;
  min-width: 1rem;
  height: 0.25rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.progress-item.active {
  background-color: rgba(255, 255, 255, 0.9);
}

/* Caroussel - Movie Slider */
.movie-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.slider {
  --items-per-screen: 1;
  --slider-index: 0;
  flex-grow: 1;
  display: flex;
  margin: 0 var(--img-gap);
  transform: translateX(calc(var(--slider-index) * -100%));
  transition: transform 250ms ease-in-out;
}

.slider > img {
  flex: 0 0 calc(100% / var(--items-per-screen));
  max-width: calc(100% / var(--items-per-screen));
  aspect-ratio: 16/9;
  padding: var(--img-gap);
  border-radius: 1rem;
  overflow: hidden;
}

.handle {
  font-size: 5rem;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
  width: var(--handle-size);
  background-color: rgb(193, 192, 196, 0.4);
  z-index: 10;
  margin: 0.15rem 0;
  padding: 0 var(--img-gap);
  border: none;
  border-radius: 0.5rem;
}

.handle:hover,
.handle:focus {
  font-size: 6rem;
  transition: font-size 150ms ease-in-out;
  transition: background-color 150ms ease-in-out;
  background-color: rgb(193, 192, 196, 0.75);
  cursor: pointer;
}

.left-handle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.right-handle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* Don't forget to fix the body later on */

@media screen and (min-width: 800px) {
  /* Styling the Navbar */
  nav {
    position: relative;
    display: flex;
    align-items: end;
    gap: 1rem;
    padding: 0.5rem 0.5rem;
  }

  nav .resp-nav-header {
    width: 22%;
    margin-bottom: 0rem;
  }

  nav .nav-search {
    width: 78%;
    max-width: 1400px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .nav-search input[type="search"] {
    width: 80%;
    color: var(--white);
    background-color: var(--primary-grey);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-right: 1.5rem;
  }

  .nav-search input[type="search"]::placeholder {
    color: var(--gray);
  }

  .nav-search .main-lang-choice {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .nav-search .main-lang-choice img {
    width: 20px;
    height: auto;
  }

  .nav-search .main-lang-choice > div,
  .nav-search .login-user > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .nav-search .login-user {
    margin-left: 0.5rem;
  }

  .nav-search .login-user > p > i {
    margin-right: 0.5rem;
  }

  /* Navbar with items */
  .nav-items-container {
    position: static;
    width: 22%;
    max-width: 300px;
    position: fixed;
    background-color: var(--primary-grey);
    padding-left: 1rem;
  }

  .nav-items-container .nav-header {
    margin-bottom: 1rem;
  }

  .nav-items-container .nav-items {
    gap: 1rem;
  }

  .nav-items-container .nav-items .nav-element h2 {
    font-size: 1.3rem;
  }

  .nav-items-container .nav-items .nav-element > div {
    font-size: 1rem;
    display: grid;
    gap: 0.3rem;
    margin-left: 0.5rem;
  }

  /* main section */
  main {
    width: 100%;
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
  }

  main .show-boiler-plate {
    width: 22%;
    display: block;
  }

  main .main-section {
    width: 100%;
  }

  main .full-main-section {
    width: 78%;
  }

  /* Featured Movies Section */
  .featured-movies {
    padding: 2rem 1rem;
  }

  .featured-description .description {
    width: 60%;
  }
}

@media screen and (min-width: 500px) {
  /* Movie Slider */
  .slider {
    --items-per-screen: 2;
  }
}

@media screen and (min-width: 700px) {
  /* Movie Slider */
  .slider {
    --items-per-screen: 3;
  }
}

@media screen and (min-width: 1200px) {
  /* Movie Slider */
  .slider {
    --items-per-screen: 4;
  }
}
