@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --secondary-black: #0b0b0c;
  --primary-grey: #696969;
  --brown: #4a3c32;
  --blueish-grey: #757c8a;
  --chocolate: #9f5f3c;
  --tertiary-orange: #e68a1b;
  --pinkish: #ceafae;
  --white: #f7f8ff;
  --gray: #c1c0c4;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1400px;
  height: 100%;
  margin: auto;
  font-family: "Poppins", sans-serif;
  background-color: var(--secondary-black);
}

/* img {
    width: 100%;
    height: auto;
} */

/* Styling the Navbar */
nav {
  height: 100vh;
  min-width: 10rem;
  display: none;
  background-color: var(--primary-grey);
  color: var(--white);
  padding: 0rem 2rem 0 2rem;
}


nav img {
  width: 100%;
  height: auto;
}

.nav-header {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 0rem;
}

/* .nav-header .open-menu {
  display: none;
} */

.nav-header .close-menu {
  font-size: 1.3rem;
}

.nav-header img {
  width: 5rem;
}

/* Navbar items */
nav .nav-items-container {
  display: grid;
  gap: 1rem;
}

nav .nav-items-container .nav-element {
  display: grid;
  gap: 0.2rem;
}

.nav-element h2 {
  font-size: 1.2rem;
  color: #c1c0c4;
}

.nav-element>div {
  display: grid;
  gap: 0.3rem;
  padding-left: .3rem;
}

/* Styling the Main Section */
main {
  padding: 0.5rem 1rem 0rem 1rem;
}

/* Main Section Navbar */
main .nav-header {
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

main .open-menu,
main .close-menu {
  font-size: 1.5rem;
}

main .close-menu {
  display: none;
}

main.nav-header img {
  width: 50px;
  /* height: 20px; */
}

main .main-navigation {
  display: none;
}

@media screen and (min-width: 800px) {
  body {
    display: grid;
    grid-template-columns: 20% 75%;
  }

  /* Styling the Navbar */
  nav {
    display: none;
  }

  .active-nav {
    display: block;
    background-color: var(--primary-grey);
    color: var(--white);
    height: 100vh;
    padding: 2rem 2rem 0 2rem;
  }

  nav .nav-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  .nav-header .open-menu {
    display: block;
  }

  .nav-header .close-menu {
    display: none;
  }

  /* navbar items */
  nav .nav-items-container {
    gap: 1.5rem;
  }

  nav .nav-items-container .nav-element {
    gap: 0.5rem;
  }

  /* Main section */
  /* Main section Navigation */
  main {
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }

  main section {
    /* background-color: blue; */
    width: 100%;
    display: grid;
    grid-template-columns: 15% 80%;
    gap: 5%;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }

  main .nav-header {
    display: flex;
    align-items: space-around;
    margin-right: 1rem;
    margin-bottom: 0;
  }

  main .nav-header .open-menu {
    font-size: 1.2rem;
  }

  main .main-navigation {
    width: 100%;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .main-navigation input[type="search"] {
    width: 80%;
    color: var(--white);
    background-color: var(--primary-grey);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }

  .main-navigation input[type="search"]::placeholder {
    color: var(--gray);
  }

  .main-navigation .main-lang-choice {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .main-navigation .main-lang-choice>div,
  .main-navigation .login-user>div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .main-navigation .login-user {
    margin-left: 0.5rem;
  }

  .main-navigation .login-user>p>i {
    margin-right: 0.5rem;
  }
}