@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --movie-slider-padding: 2.5rem;
  --secondary-black: #0b0b0c;
  --primary-grey: #696969;
  --brown: #4a3c32;
  --blueish-grey: #757c8a;
  --chocolate: #9f5f3c;
  --tertiary-orange: #e68a1b;
  --pinkish: #ceafae;
  --white: #f7f8ff;
  --gray: #c1c0c4;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1400px;
  height: 100%;
  margin: auto;
  font-family: "Poppins", sans-serif;
  background-color: var(--secondary-black);
}

/* img {
    width: 100%;
    height: auto;
} */

/* Styling the Navbar */
nav {
  height: 100vh;
  min-width: 10rem;
  display: none;
  background-color: var(--primary-grey);
  color: var(--white);
  padding: 0rem 2rem 0 2rem;
}


nav img {
  width: 100%;
  height: auto;
}

.nav-header {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 0rem;
}

/* .nav-header .open-menu {
  display: none;
} */

.nav-header .close-menu {
  font-size: 1.3rem;
}

.nav-header img {
  width: 5rem;
}

/* Navbar items */
nav .nav-items-container {
  display: grid;
  gap: 1rem;
}

nav .nav-items-container .nav-element {
  display: grid;
  gap: 0.2rem;
}

.nav-element h2 {
  font-size: 1.2rem;
  color: #c1c0c4;
}

.nav-element>div {
  display: grid;
  gap: 0.3rem;
  padding-left: .3rem;
}

/* Styling the Main Section */
main {
  padding: 0.5rem 1rem 0rem 1rem;
}

/* Main Section Navbar */
main .nav-header {
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

main .open-menu,
main .close-menu {
  font-size: 1.5rem;
}

main .close-menu {
  display: none;
}

main.nav-header img {
  width: 50px;
  /* height: 20px; */
}

main .main-navigation {
  display: none;
}

/* Featured Movies section */
.featured-movies {
  color: white;
  background: linear-gradient(0deg, rgba(11, 11, 12, 0.7), rgba(105, 105, 105, 0.3)), url(./assets/img/antMan.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: .5rem;
  padding: 1rem .5rem;
  margin-bottom: 2rem;

}

.featured-movies .featured-description {
  width: 100%;
  display: grid;
  gap: 1rem;
}

.featured-description>div:first-of-type {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.featured-description>div:first-of-type>.rank {
  font-weight: bold;
  background-color: var(--tertiary-orange);
  color: var(--secondary-black);
  padding: .35rem;
  border-radius: .5rem;
}

.featured-description>div:first-of-type>p:nth-of-type(2) {
  width: 1.5rem;
  height: 1.5rem;
  display: grid;
  place-items: center;
  background-color: var(--blueish-grey);
  border-radius: .25rem;
  padding: .25rem;
}

.featured-description>div:first-of-type>p:nth-of-type(2)>i {
  font-size: 1rem;
}

.featured-description .description {
  margin-top: .5rem;
}

.featured-description .description h3 {
  font-size: 1.3rem;
  font-weight: bolder;
  color: var(--white);
}

.featured-description .description h3+p {
  color: var(--gray);
  margin-bottom: .65rem;
}

.featured-description .description h3+p+p {
  font-size: .75rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.featured-description .description .likes {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.featured-description .description .likes>p {
  padding: .2rem;
  display: grid;
  place-items: center;
  border: 1px solid var(--white);
  border-radius: 50%;
}

/* Styling the movie slider / caroussel section */
.movie-caroussel {
  /* width: 100%; */
  display: flex;
  justify-content: center;
}

.slider {
  flex-grow: 1;
  /* width: calc(100% - 2 * var(--movie-slider-padding)); */
  display: flex;
  transform: translateX(-00%);

}

.slider>img {
  flex: 0 0 25%;
  max-width: 25%;
  aspect-ratio: 16/9;
  padding: .25rem;
  border-radius: 1rem;
  overflow: hidden;
}

.handle {
  font-size: 5rem;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  width: 5rem;
  /* width: var(--movie-slider-padding); */
  background-color: rgb(138, 43, 226, .5);
  z-index: 10;
  margin: .15rem 0;
  padding: 0 .25rem;
  border: none;
  border-radius: .5rem;
}


.handle:hover,
.handle:focus {
  font-size: 6rem;
  transition: font-size 150ms ease-in-out;
  transition: background-color 150ms ease-in-out;
  background-color: rgb(138, 43, 226, .75);
  cursor: pointer;
}

.left-handle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}



.right-handle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}


/* Don't forget to fix the body later on */



@media screen and (min-width: 800px) {
  body {
    display: grid;
    grid-template-columns: 20% 75%;
  }

  /* Styling the Navbar */
  nav {
    display: none;
  }

  .active-nav {
    display: block;
    background-color: var(--primary-grey);
    color: var(--white);
    height: 100vh;
    padding: 2rem 2rem 0 2rem;
  }

  nav .nav-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  .nav-header .open-menu {
    display: block;
  }

  .nav-header .close-menu {
    display: none;
  }

  /* navbar items */
  nav .nav-items-container {
    gap: 1.5rem;
  }

  nav .nav-items-container .nav-element {
    gap: 0.5rem;
  }

  /* Main section */
  /* Main section Navigation */
  main {
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }

  main #main-navigation-section {
    /* background-color: red; */
    width: 100%;
    display: grid;
    grid-template-columns: 15% 80%;
    gap: 5%;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  main .nav-header {
    display: flex;
    align-items: space-around;
    margin-right: 1rem;
    margin-bottom: 0;
  }

  main .nav-header .open-menu {
    font-size: 1.2rem;
  }

  main .main-navigation {
    width: 100%;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .main-navigation input[type="search"] {
    width: 80%;
    color: var(--white);
    background-color: var(--primary-grey);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }

  .main-navigation input[type="search"]::placeholder {
    color: var(--gray);
  }

  .main-navigation .main-lang-choice {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .main-navigation .main-lang-choice>div,
  .main-navigation .login-user>div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .main-navigation .login-user {
    margin-left: 0.5rem;
  }

  .main-navigation .login-user>p>i {
    margin-right: 0.5rem;
  }

  /* Featured Movies Section */
  .featured-movies {
    padding: 2rem 1rem;
  }

  .featured-description .description {
    width: 60%;
  }
}