@import url("./style.css");

:root {
  --nav-width: 100%;
  --handle-size: 1.5rem;
  --movie-slider-padding: 2.5rem;
  --img-gap: 0.25rem;
  --secondary-black: #0b0b0c;
  --primary-grey: #696969;
  --brown: #4a3c32;
  --blueish-grey: #757c8a;
  --chocolate: #9f5f3c;
  --tertiary-orange: #dc0404;
  /* --tertiary-orange: #e68a1b; */
  --pinkish: #ceafae;
  --white: #f7f8ff;
  --gray: #c1c0c4;
}

.main-section {
  padding: 0 0 1rem 0;
}

.main-section .discover-header {
  display: grid;
  gap: 0.25rem;
  margin-top: 1rem;
}

.main-section .discover-header > h1 {
  font-size: 1.75rem;
  font-weight: 550;
  color: var(--white);
}

.main-section .discover-header > p {
  color: var(--gray);
  font-size: 0.95rem;
}

.main-section .discover-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.5rem;
  padding: 1rem 0;
}

.main-section .discover-content > .movie-card {
  width: 100%;
  background: rgba(2, 2, 2, 0.83);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(4.1px);
  border: 1px solid rgba(2, 2, 2, 0.16);
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
}

.discover-content > .movie-card img {
  width: 100%;
  height: auto;
  aspect-ratio: 2 / 3;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.discover-content > .movie-card .movie-description {
  display: grid;
  gap: 0.75rem;
  height: 100%;
  padding: 1rem 0.5rem;
}

.discover-content > .movie-card .movie-description h2 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.discover-content > .movie-card .movie-description p {
  color: var(--gray);
  font-size: 0.8rem;
}

.discover-content > .movie-card .movie-description > div:last-of-type {
  display: flex;
  align-items: center;
  align-self: baseline;
  gap: 1rem;
  margin-top: auto;
}

.discover-content > .movie-card .movie-description > div:last-of-type > * {
  flex: 0 0 1.5rem;
  font-size: 1.5rem;
}

.discover-content
  > .movie-card
  .movie-description
  > div:last-of-type
  > i:first-of-type {
  margin-right: auto;
}

/* Load More Button */
.load-more {
  width: 11.25rem;
  margin: 0 auto;
  background-color: var(--tertiary-orange);
  color: var(--white);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border-radius: 1.8rem;
  transition: all 0.3s ease-out;
  padding: 1rem 1.5rem;
  border: none;
}

.load-more:hover,
.load-more:focus {
  background: rgba(2, 2, 2, 0.83);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(4.1px);
  border: 1px solid rgba(2, 2, 2, 0.16);
  border-radius: 1.8rem;
  padding: 1rem 1.5rem;
  outline: none;
}

/* loader */
.load-more .loading {
  /* background-color: blue; */
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
  display: none;
  animation: loader1 3s linear infinite;
}

@keyframes loader1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.load-more .loading span {
  width: 2rem;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  clip: rect(1rem, 2rem, 2rem, 0);
  animation: loader2 1.5s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@keyframes loader2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.load-more .loading > span::before {
  content: "";
  width: 2rem;
  height: 2rem;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 3px solid transparent;
  border-radius: 50%;
  animation: loader3 1.5s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@keyframes loader3 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.load-more .loading span::after {
  content: "";
  width: 2rem;
  height: 2rem;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 3px solid transparent;
  border: 3px solid var(--secondary-black);
  border-radius: 50%;
}

.load-more.show-loader {
  width: fit-content;
  background-color: var(--tertiary-orange);
  text-indent: -999px;
}

.load-more.show-loader .loading {
  display: block;
}

/* grid-template-columns: repeat(auto-fit, minmax(200px,1fr)) */
